<div class="converter">
    <div class="card">
        <form (ngSubmit)="onSubmit()">          
            <div class="form-row align-items-center m-3"> 
                <div class="col-auto">                      
                    <label class="sr-only" for="inlineFormInput">Degres</label>
                    <input type="text" class="form-control" id="inlineFormInput" [formControl]="tempInput" placeholder="Degres in number" required>        
                </div>

                <div class="col-auto">                            
                    <label class="sr-only" for="inlineFormInput">Type</label>
                    <select name="selectMenu" (change)="SelectHandler($event)" class="form-control" id="inlineFormOption" required >
                    <option *ngFor="let opt of options">
                        {{opt}}
                    </option>
                    </select>
                </div>

                <div class="col-auto btnSubmit"> 
                    <button type="print()" class="btn btn-primary" [disabled]="!tempInput.valid">Submit</button>    
                </div>
            </div> 
        </form>

        <div class="result">
            <div class="form-group row">
                <label for="result" class="ml-4 col-sm-2 col-form-label">Result</label>
                <div class="col">
                  <input type="text" readonly class="form-control-plaintext" id="converted" value={{convertedOutput}}>
                </div>
            </div>
        </div>
    </div>
</div>
